[Unit]
Description=Intersystem IRIS Service
After=network.target
[Service]
Type=forking
WorkingDirectory=/iris/sys
User=root
ExecStart=/iris/sys/bin/iris start IRIS
ExecStop=/iris/sys/bin/iris stop IRIS quietly
Restart=on-abort
[Install]
WantedBy=default.target
